html {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 11pt;
    text-align: justify;
}

#prev, #next {
  font-size: xx-large;
}

#send {
  font-size: x-large;
}

.twobuttons {
    height: 50px;
    vertical-align: middle;
}

.twobuttons > button:last-child {
    float: right;
}

#intro h1 {
    padding-bottom: 3ex;
}

.invalidMessage {
	color: red;
  visibility: hidden;
} 

.show {
  visibility: visible;
}

table tr {
	vertical-align: top;
}

tbody, .node {
	border: 0px;
}

#layout-children td {
	padding-right: 20px;
}

input {
	width: 400px;
}

.childpos, .childneg {
	visibility: hidden;
	display: none;
}

.childname {
	width: 70%;
}

.childage {
	width: 30%;
}

.editable.read-only input, .editable.read-only textarea, .editable.readonly label {
    background-color: lightgrey;
    color: lightgrey;
}

#add:disabled, #del:disabled {
  opacity: .5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* -ms-ugly-yuck-yuck-yuck */
	filter: alpha(opacity=50);
}

#list-children tbody tr:hover {
	background-color: yellow;
	cursor: pointer;
}

#list-children tbody tr.selected, #list-children tbody tr.selected:hover {
	background-color: blue;
	cursor: pointer;
}
